@inject MediaPlayerService service
@inject DisplayService displayService

<div class="@PlayerModeClass">
    <div class="inner-wrap">
        <AudioPlayerBlazor.Components.ModeSelector />
        <AudioPlayerBlazor.Components.Queue />
        <AudioPlayerBlazor.Components.Player />
    </div>
</div>

@code {

    private string PlayerModeClass { get; set; } = "mini-player-display";
    override protected async Task OnInitializedAsync()
    {
        displayService.OnPlayerModeChanged += PlayerModeChanged;
    }


    private void PlayerModeChanged(PlayerMode mode)
    {
        @* IsPlaying = state; *@
        PlayerModeClass = displayService.PlayerMode switch
        {
            PlayerMode.Mini => "mini-player-display",
            PlayerMode.Bottom => "bottom-player-display",
            PlayerMode.Full => "full-player-display",
            _ => "mini-player-display"
        };
        StateHasChanged();
    }
}
