.album-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.album-cover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: inset 0 0 4em 3em black;
}
.album-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}