.player {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  padding-left: 0.4em;
  padding-right: 0.4em;
  display: flex;
  flex-direction: column;
}
.player .separator {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  overflow: hidden;
}
.player .separator #waveform {
  opacity: 0.5;
  height: 100%;
  width: 100%;
}
.player .controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 6px;
  background-color: rgba(0, 0, 0, 0.6666666667);
  box-shadow: 0 0 1em 3em rgba(0, 0, 0, 0.6666666667);
}
.player .controls .control-separator {
  display: none;
}
.player .controls .volume-control:hover {
  position: relative;
}
.player .controls .volume-control:hover ::deep .volume-slider {
  display: block !important;
  z-index: 5;
}
.player .controls [class$=-button] {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.0666666667);
  transition: box-shadow, background-color linear 0.2s;
  cursor: pointer;
}
.player .controls [class$=-button]:hover {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.3333333333);
}
.player .controls [class$=-button]:hover::before {
  opacity: 0.9;
}
.player .controls [class$=-button]:hover .text-time {
  opacity: 0.9;
}
.player .controls [class$=-button]::before {
  padding: 8px;
  display: block;
  opacity: 0.6;
}
.player .controls [class$=-button] .text-time {
  opacity: 0.6;
}
.player .controls .play-button {
  width: 36px;
  height: 36px;
  box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.0666666667);
  background-color: rgba(0, 0, 0, 0.5);
}
.player .controls .play-button:hover {
  box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.3333333333);
  background-color: rgba(0, 0, 0, 0.8);
}
.player .controls .play-button::before {
  content: url("data:image/svg+xml;utf8,<svg version='1.1' fill='%23FFFFFF' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 800 800' xml:space='preserve'><path fill-rule='evenodd' clip-rule='evenodd' d='M75,167.8C75,70.9,180.6,11.5,265.2,57.6l427.1,232.2	c88.1,47.9,88.1,172.5,0,220.4L265.2,742.5C180.6,788.5,75,729.1,75,632.2V167.8z'/></svg>");
  padding: 6px;
  padding-left: 7px;
  padding-right: 5px;
}
.player .controls .pause-button {
  width: 36px;
  height: 36px;
  box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.0666666667);
  background-color: rgba(0, 0, 0, 0.5);
}
.player .controls .pause-button:hover {
  box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.3333333333);
  background-color: rgb(0, 0, 0);
}
.player .controls .pause-button::before {
  content: url("data:image/svg+xml;utf8,<svg version='1.1' fill='%23FFFFFF' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 800 800' xml:space='preserve'><path fill-rule='evenodd' clip-rule='evenodd'  d='M198.3,41.7h3.5c29.9,0,54.9,0,74.7,2.7c20.9,2.8,39.8,9,55,24.2	c15.2,15.2,21.4,34.1,24.2,55c2.7,19.8,2.7,44.8,2.7,74.7v403.5c0,30,0,54.9-2.7,74.8c-2.8,20.9-9,39.8-24.2,55	c-15.2,15.2-34.1,21.4-55,24.2c-19.8,2.7-44.8,2.7-74.7,2.7h-3.5c-29.9,0-54.9,0-74.7-2.7c-20.9-2.8-39.8-9-55-24.2	c-15.2-15.2-21.4-34.1-24.2-55c-2.7-19.8-2.7-44.8-2.7-74.8V198.3c0-29.9,0-54.9,2.7-74.7c2.8-20.9,9-39.8,24.2-55	s34.1-21.4,55-24.2C143.3,41.7,168.3,41.7,198.3,41.7z M598.3,41.7h3.5c30,0,54.9,0,74.8,2.7c20.9,2.8,39.8,9,55,24.2	c15.2,15.2,21.4,34.1,24.2,55c2.7,19.8,2.7,44.8,2.7,74.7v403.5c0,30,0,54.9-2.7,74.8c-2.8,20.9-9,39.8-24.2,55	c-15.2,15.2-34.1,21.4-55,24.2c-19.8,2.7-44.8,2.7-74.8,2.7h-3.5c-30,0-54.9,0-74.8-2.7c-20.9-2.8-39.8-9-55-24.2	c-15.2-15.2-21.4-34.1-24.2-55c-2.7-19.8-2.7-44.8-2.7-74.8V198.3c0-29.9,0-54.9,2.7-74.7c2.8-20.9,9-39.8,24.2-55	c15.2-15.2,34.1-21.4,55-24.2C543.3,41.7,568.3,41.7,598.3,41.7z'/></svg>");
}
.player .controls .rewind-button {
  position: relative;
}
.player .controls .rewind-button::before {
  content: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 800 800' xml:space='preserve'><path fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M377.5,55.8c4.2-8.7,12.9-14.2,22.5-14.2	c197.9,0,358.3,160.4,358.3,358.3c0,197.9-160.4,358.3-358.3,358.3C202.1,758.3,41.7,597.9,41.7,400c0-147,88.5-273.2,215-328.5	c12.7-5.5,27.4,0.2,32.9,12.9c5.5,12.7-0.2,27.4-12.9,32.9c-108.9,47.6-185,156.3-185,282.7c0,170.3,138,308.3,308.3,308.3	c170.3,0,308.3-138,308.3-308.3c0-151.1-108.7-276.9-252.2-303.2l30.1,37.6c8.6,10.8,6.9,26.5-3.9,35.1c-10.8,8.6-26.5,6.9-35.1-3.9	l-66.7-83.3C374.5,74.8,373.3,64.5,377.5,55.8z M364.4,369.3L364.4,369.3L364.4,369.3z'/></svg>");
  padding: 2px;
}
.player .controls .rewind-button .text-time {
  color: #FFF;
  position: absolute;
  font-size: 9px;
  line-height: 9px;
  top: calc(50% - 4px);
  left: calc(50% - 5px);
}
.player .controls .forward-button {
  position: relative;
}
.player .controls .forward-button::before {
  content: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 800 800' xml:space='preserve'><path fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M41.7,400C41.7,202.1,202.1,41.7,400,41.7	c9.6,0,18.4,5.5,22.5,14.2c4.2,8.7,3,18.9-3,26.4l-66.7,83.3c-8.6,10.8-24.4,12.5-35.1,3.9c-10.8-8.6-12.5-24.4-3.9-35.1l30.1-37.6	C200.4,123.1,91.7,248.9,91.7,400c0,170.3,138,308.3,308.3,308.3c170.3,0,308.3-138,308.3-308.3c0-126.4-76.1-235.1-185-282.7	c-12.6-5.5-18.4-20.3-12.9-32.9c5.5-12.7,20.3-18.4,32.9-12.9c126.5,55.3,215,181.5,215,328.5c0,197.9-160.4,358.3-358.3,358.3	C202.1,758.3,41.7,597.9,41.7,400z M364.4,369.3L364.4,369.3L364.4,369.3z'/></svg>");
  padding: 2px;
}
.player .controls .forward-button .text-time {
  color: #FFF;
  position: absolute;
  font-size: 9px;
  line-height: 9px;
  top: calc(50% - 4px);
  left: calc(50% - 5px);
}
.player .controls .prev-chapter-button::before {
  content: url("data:image/svg+xml;utf8,<svg viewBox='0 0 24 24' fill='%23FFFFFF' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M21.1392 1.80371C22.1058 2.46477 22.75 3.64507 22.75 5.03297V18.9672C22.75 20.3551 22.1058 21.5354 21.1392 22.1965C20.1604 22.8659 18.8652 22.9827 17.7223 22.2447L6.93329 15.2775C5.78297 14.5347 5.25 13.2342 5.25 12.0001C5.25 10.7659 5.78297 9.46544 6.93329 8.72261L17.7223 1.7555C18.8652 1.01747 20.1604 1.13428 21.1392 1.80371ZM20.2924 3.04182C19.7699 2.68448 19.1298 2.63219 18.536 3.0156L7.74702 9.98271C7.11047 10.3938 6.75 11.1637 6.75 12.0001C6.75 12.8364 7.11047 13.6064 7.74701 14.0174L18.536 20.9846C19.1298 21.368 19.7699 21.3157 20.2924 20.9583C20.8271 20.5926 21.25 19.8885 21.25 18.9672V5.03297C21.25 4.11167 20.8271 3.40753 20.2924 3.04182ZM2 4.25008C2.41421 4.25008 2.75 4.58586 2.75 5.00008V19.0001C2.75 19.4143 2.41421 19.7501 2 19.7501C1.58579 19.7501 1.25 19.4143 1.25 19.0001V5.00008C1.25 4.58586 1.58579 4.25008 2 4.25008Z' /></svg>");
  padding: 6px;
  padding-top: 5.5px;
}
.player .controls .next-chapter-button::before {
  content: url("data:image/svg+xml;utf8,<svg fill='%23FFFFFF' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M6.27769 1.7555C5.1348 1.01747 3.83955 1.13428 2.86078 1.80371C1.89423 2.46477 1.25 3.64507 1.25 5.03297V18.9672C1.25 20.3551 1.89423 21.5354 2.86078 22.1965C3.83956 22.8659 5.1348 22.9827 6.2777 22.2447L17.0667 15.2775C18.217 14.5347 18.75 13.2342 18.75 12.0001C18.75 10.7659 18.217 9.46544 17.0667 8.72261L6.27769 1.7555ZM2.75 5.03297C2.75 4.11167 3.17287 3.40753 3.70757 3.04182C4.23005 2.68448 4.87022 2.63219 5.46397 3.0156L16.253 9.98271C16.8895 10.3938 17.25 11.1637 17.25 12.0001C17.25 12.8364 16.8895 13.6064 16.253 14.0174L5.46397 20.9846C4.87023 21.368 4.23005 21.3157 3.70758 20.9583C3.17287 20.5926 2.75 19.8885 2.75 18.9672L2.75 5.03297Z' /><path d='M22.75 5.00008C22.75 4.58586 22.4142 4.25008 22 4.25008C21.5858 4.25008 21.25 4.58586 21.25 5.00008V19.0001C21.25 19.4143 21.5858 19.7501 22 19.7501C22.4142 19.7501 22.75 19.4143 22.75 19.0001V5.00008Z' /></svg>");
  padding: 6px;
  padding-top: 5.5px;
}
.player .controls .volume-button::before {
  content: url("data:image/svg+xml;utf8,<svg fill='%23FFFFFF' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M4 17h2.697L14 21.868V2.132L6.697 7H4c-1.103 0-2 .897-2 2v6c0 1.103.897 2 2 2z'/></svg>");
  padding: 4px;
}
.player .controls .volume-low-button::before {
  content: url("data:image/svg+xml;utf8,<svg fill='%23FFFFFF' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M4 17h2.697L14 21.868V2.132L6.697 7H4c-1.103 0-2 .897-2 2v6c0 1.103.897 2 2 2zM16 7v10c1.225-1.1 2-3.229 2-5s-.775-3.9-2-5z'/></svg>");
  padding: 4px;
}
.player .controls .volume-loud-button::before {
  content: url("data:image/svg+xml;utf8,<svg fill='%23FFFFFF' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M16 21c3.527-1.547 5.999-4.909 5.999-9S19.527 4.547 16 3v2c2.387 1.386 3.999 4.047 3.999 7S18.387 17.614 16 19v2z'/><path d='M16 7v10c1.225-1.1 2-3.229 2-5s-.775-3.9-2-5zM4 17h2.697L14 21.868V2.132L6.697 7H4c-1.103 0-2 .897-2 2v6c0 1.103.897 2 2 2z'/></svg>");
  padding: 4px;
}
.player .controls .playlist-button {
  position: relative;
}
.player .controls .playlist-button::before {
  content: url("data:image/svg+xml;utf8,<svg viewBox='0 0 24 24' fill='%23FFFFFF' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M2.25 5C2.25 4.58579 2.58579 4.25 3 4.25H15C15.4142 4.25 15.75 4.58579 15.75 5C15.75 5.41421 15.4142 5.75 15 5.75H3C2.58579 5.75 2.25 5.41421 2.25 5ZM19.8632 7.40036C19.667 7.47267 19.4083 7.59593 18.9996 7.79212L17.2451 8.63429C17.0656 8.72043 16.9633 8.76996 16.8888 8.81194C16.843 8.83773 16.8253 8.85121 16.8207 8.85503C16.7963 8.88014 16.7774 8.9101 16.7654 8.94296C16.7639 8.94872 16.7594 8.97052 16.756 9.02297C16.7504 9.10834 16.75 9.22201 16.75 9.42108C16.75 9.87446 16.7508 10.161 16.7705 10.3692C16.7827 10.4972 16.7991 10.5513 16.8044 10.5665C16.8397 10.6108 16.889 10.6418 16.9442 10.6545C16.9602 10.6527 17.0161 10.6441 17.1368 10.5996C17.333 10.5273 17.5917 10.4041 18.0004 10.2079L19.7549 9.36571C19.9344 9.27957 20.0367 9.23004 20.1112 9.18806C20.1571 9.16226 20.1748 9.14878 20.1793 9.14496C20.2037 9.11985 20.2226 9.08989 20.2346 9.05703C20.2361 9.05125 20.2406 9.02945 20.244 8.97703C20.2496 8.89166 20.25 8.77799 20.25 8.57892C20.25 8.12554 20.2492 7.83903 20.2295 7.63082C20.2173 7.50277 20.2009 7.44867 20.1956 7.4335C20.1603 7.38919 20.111 7.35817 20.0558 7.34553C20.0398 7.34726 19.9839 7.35589 19.8632 7.40036ZM16.7658 8.9413C16.7659 8.94135 16.7657 8.94202 16.7654 8.94296L16.7658 8.9413ZM16.8194 8.85619C16.8194 8.85618 16.8198 8.85577 16.8207 8.85503L16.8194 8.85619ZM19.3446 5.99286C19.6232 5.8902 19.9559 5.80212 20.3149 5.8678C20.7572 5.9487 21.1513 6.19672 21.4156 6.56043C21.6302 6.85569 21.6948 7.19367 21.7228 7.48928C21.75 7.77699 21.75 8.13579 21.75 8.5446V8.57892C21.75 8.60396 21.7501 8.62917 21.7501 8.65453C21.7509 8.95464 21.7518 9.27515 21.644 9.57044C21.559 9.80354 21.4254 10.0159 21.252 10.1934C21.0324 10.4183 20.7431 10.5562 20.4722 10.6854C20.4494 10.6963 20.4266 10.7072 20.404 10.718L18.6185 11.575C18.25 11.7519 17.9266 11.9072 17.6554 12.0071C17.3936 12.1036 17.0842 12.1872 16.75 12.1425V16.4286C16.75 18.2429 15.3147 19.75 13.5 19.75C11.6853 19.75 10.25 18.2429 10.25 16.4286C10.25 14.6143 11.6853 13.1071 13.5 13.1071C14.1477 13.1071 14.747 13.2991 15.25 13.6285V10H15.2529C15.25 9.83116 15.25 9.64888 15.25 9.4554L15.25 9.42108C15.25 9.39604 15.2499 9.37083 15.2499 9.34547C15.2491 9.04536 15.2482 8.72485 15.356 8.42957C15.441 8.19646 15.5746 7.9841 15.748 7.80658C15.9676 7.5817 16.2569 7.44376 16.5278 7.31461C16.5506 7.30369 16.5734 7.29284 16.596 7.282L18.3814 6.42498C18.75 6.24805 19.0734 6.09278 19.3446 5.99286ZM15.25 16.4286C15.25 15.4026 14.4467 14.6071 13.5 14.6071C12.5533 14.6071 11.75 15.4026 11.75 16.4286C11.75 17.4546 12.5533 18.25 13.5 18.25C14.4467 18.25 15.25 17.4546 15.25 16.4286ZM2.25 9C2.25 8.58579 2.58579 8.25 3 8.25H13C13.4142 8.25 13.75 8.58579 13.75 9C13.75 9.41421 13.4142 9.75 13 9.75H3C2.58579 9.75 2.25 9.41421 2.25 9ZM2.25 13C2.25 12.5858 2.58579 12.25 3 12.25H9C9.41421 12.25 9.75 12.5858 9.75 13C9.75 13.4142 9.41421 13.75 9 13.75H3C2.58579 13.75 2.25 13.4142 2.25 13ZM2.25 17C2.25 16.5858 2.58579 16.25 3 16.25H8C8.41421 16.25 8.75 16.5858 8.75 17C8.75 17.4142 8.41421 17.75 8 17.75H3C2.58579 17.75 2.25 17.4142 2.25 17Z'/></svg>");
  padding: 3px;
  padding-left: 4px;
  padding-right: 2px;
  padding-top: 4px;
}