@inject QueuePlayerService service

<div>
    <ul>
        @foreach (var q in service.Queue)
        {
            <li>@q.Data.Title</li>
        }
    </ul>
</div>

@code {

    override protected void OnInitialized()
    {
        service.OnQueueChanged += QueueChanged;
    }

    private void QueueChanged()
    {
        StateHasChanged();
    }
}