<div class="volume-slider" id="audio-player-blazor-volume">
    <div class="volume-inner">
        <div class="vertical-progress-background"></div>
        <div class="vertical-progress-value"></div>
        <div class="vertical-progress-handle"></div>
    </div>
</div>