/* _content/AudioPlayerBlazor/Component1.razor.rz.scp.css */
.my-component[b-1hum7gz6w2] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
